body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.box {
  background: #111;
  border: 2px solid #39ff14;
  border-radius: 20px;
  padding: 20px;
  margin-top: 15px;
  text-align: center;
}
h1, h2, h3 {
  color: #39ff14;
}
input {
  width: 90%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #39ff14;
  background: #000;
  color: white;
}
button {
  width: 95%;
  padding: 16px;
  font-size: 20px;
  background: #39ff14;
  color: black;
  border-radius: 14px;
  border: none;
  font-weight: bold;
}
#unit-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#progress-wrap {
  width: 100%;
  height: 16px;
  background: #333;
  border-radius: 20px;
}
#progress {
  height: 100%;
  background: #39ff14;
  border-radius: 20px;
}
.unit-title {
  font-size: 14px;
  color: #333;
  display: block;
}
