body {
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.box {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #39ff14;
  border-radius: 20px;
}

button {
  background: #111;
  color: white;
  border: 2px solid #39ff14;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
}

button:hover {
  background: #39ff14;
  color: black;
}

.unitBtn {
  display: inline-block;
  margin: 6px;
}

#sentenceBox {
  padding: 15px;
  border: 1px solid #39ff14;
  border-radius: 10px;
  min-height: 60px;
  margin-bottom: 10px;
}

/* 진행률 바 */
#progress-wrap {
  width: 100%;
  height: 18px;
  background: #222;
  border-radius: 10px;
  margin-top: 10px;
}

#progress {
  height: 18px;
  width: 0%;
  background: #39ff14;
  border-radius: 10px;
  transition: width 0.3s;
}
