body {
  background: #0d0d0d;
  color: white;
  font-family: Pretendard, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-box, #app {
  background: #111;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 0 40px rgba(255, 215, 0, .25);
}

h2 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#loginBtn, #logoutBtn {
  background: #ffd400;
  color: black;
  font-weight: 800;
}

#buttons button {
  margin-top: 8px;
  background: black;
  color: yellow;
  border: 1px solid yellow;
}

#progress-wrap {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 5px;
  margin-top: 10px;
}

#progress {
  width: 0%;
  height: 10px;
  background: #ffd400;
  border-radius: 5px;
}

@media (max-width: 600px) {
  #login-box, #app {
    width: 90%;
    padding: 20px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
